html,body { height: 100%; margin: 0; background-color: #E5E5E5; font-family: 'RobotoDraft', sans-serif; }

.container { width: 80%; margin: 25px auto; }

@media (min-width: 481px) {
  #tabs { width: 200px; }
  .container { width: 400px; }
}

/* Title bar */
core-toolbar { background: #03a9f4; color: white; }

/* sidenav */
/* drawer is always visible on a wide screen so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon { display: none; }

core-header-panel { background: white; height: 100vh; }
.core-selected { background-color: #03a9f4; color: white; }





/*** ARCHIV ***/
/*
#tabs { width: 100%; margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.pink paper-tab::shadow #ink { color: #ff4081; }
*/
/* paper tab effect for tapping and active */
/*
paper-tabs.pink::shadow #selectionBar { background-color: #ff4081; }
*/
